form {
  max-width: 800px;
  margin: 0 auto;
}
fieldset {
  padding: 1em;
  display: flex;
  flex-direction: column;
}
input,
select {
  margin-bottom: 1em;
}
button {
  cursor: pointer;
  width: fit-content;
  padding: 0.5em 1.25em;
  margin: 0 auto;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
h2 {
  text-align: center;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
li {
  margin: 0 auto;
  margin-bottom: 1em;
}
